body,
button {
  background-color: black;
  color: white;
}

body {
  margin: 0;
}
button {
  border: none;
}

.header {
  font-size: 50px;
  flex-shrink: 0;
  text-align: center;
  font-family: "Monoton", cursive;
}
.mainContainer {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  cursor: default;
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gameContainer {
  flex: 1 0 auto;
  margin: 35px;
  width: auto;
  display: flex;
  justify-content: space-around;
}
.gameContainer .playerContainer {
  background-color: black;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 723px;
}
.gameContainer .statusContainer {
  width: 632px;
  height:auto;
  text-align: center;
}
.gameContainer .scoreContainer {
  width: auto;
  height: 723px;
}
.gameContainer .scoreContainer #box {
  background-color: black;
  border: solid 4px white;
  border-radius: 1em;
  width: 245px;
  text-align: center;
  margin-bottom: 40px;
  height: 180px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.gameContainer .scoreContainer #score {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.gameContainer .scoreContainer .centered {
  font-size: 17px;
  font-style: normal;
  text-align: center;
}
.playerContainer .buttonContainer {
  padding: 5px;
  margin-bottom: 41px;
  flex: 1;
  border: 4px solid white;
  border-radius: 1em;
  width: auto;
  transition: border-color 0.3s ease;
  height: auto;
}
.buttonContainer:hover,
.statusContainer #reset:hover {
  border-color: white;
  box-shadow: 0 0 1rem white;
}
.buttonContainer .imageBox {
  border-radius: 1em;
}

.imageBox img {
  cursor: pointer;
  width: 200px;
  height: 159px;
  padding: 5px;
}
.imageBox:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.gameContainer .statusContainer #reset {
  border: 3px solid white;
  padding: 10px;
  border-radius: 0em;
  font-size: 30px;
  font-weight: bold;
  margin-top: 41px;
}

.footer {
  font-style: italic;
  flex-shrink: 0;
  font-size: 25px;
  border-top: 4px solid white;
  text-align: center;
  padding: 15px;
  color: white;
}
.gameContainer .statusContainer #statusText {
  font-size: 28px;
  font-style: italic;
}
.gameContainer .statusContainer #winnerText {
  font-size: 29px;
  font-style: bold;
}
.hidden {
  display: none;
}
