body,
button {
  background-color: black;
  color: white;
  margin: auto;
  font-family: 'Monoton', cursive;
}

button {
    border: none;

}

body {

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#header {
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.mainContainer {
    margin: 0 5px;
    padding:5px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gameContainer {
    height: 600px;
    width: auto;
    display: flex;
    justify-content: space-around;
}
.gameContainer .playerContainer {
  background-color: black;
  display: flex;
  align-items:stretch;
  flex-direction: column;
  height: auto;
}
.gameContainer .scoreContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    border: solid 4px white;
    border-radius: 1em;
    width: auto;
    height: auto;
    justify-content: center;
}
.playerContainer .buttonContainer {
    display: flex;
    border: 4px solid white;
    border-radius: 1em;
    width: auto;
    padding:5px;
    transition: border-color 0.3s ease;
    height: auto;
  }
  .buttonContainer:hover,  .scoreContainer #reset:hover{
    border-color: white; 
    box-shadow: 0 0 1rem white;
  }
.buttonContainer .imageBox {
    border-radius: 1em   ;

}
  
.imageBox img {
  width: 200px;
  height: 165px;
  padding: 5px;
}
.imageBox:hover {
    transform: scale(1.1); /* Scale up the imageBox on hover */
    transition: transform 0.3s ease; /* Add transition for the scaling effect */
  }

.scoreContainer #reset {
    border: 3px solid white;
    padding: 10px;
    border-radius: 1em;
}

.scoreContainer #computerText {
    font-style: italic;
}



